#Storage Specific Mediatek platform File

on init

# See storage config details at http://source.android.com/tech/storage/
    mkdir /storage/sdcard 0555 root root
 
    symlink storage/sdcard /sdcard
